@{
    ViewBag.Title = "Справка";
    Layout = "_Layout";
}

<div class="mx-2">
    <h5 class="text-center mb-3">Вы находитесь в тестовой версии Плана текущего ремонта Управления связи.</h5>
    <div class="p-3 bg-light text-start w-auto">
        <p>Каждый сотрудник может просматривать план-отчет любого подразделения УС.                   </p>
        <p>Для заполнения плана-отчета своего подразделения нужно внести учетные данные в систему.    </p>
        <p>Первоначальный пароль для входа в систему - 12345. Система предложит сразу поменять пароль.</p>
        <p>Вкладка Администрирование доступна только для администраторов системы.                     </p>
    </div>

    <div class="p-3 bg-light text-end w-auto">
        <p>По общим вопросам обращаться к <strong>Татьяновой Татьяне тел. 12345</strong></p>
        <p>По техническим вопросам обращаться к <strong>Владимирову Владимиру  тел. 54321</strong></p>
    </div>
</div>

