@model Plan_current_repairs.Data.Models.ChangePassword
@{
    ViewBag.Title = "Смена пароля";
    Layout = "_Layout";
}

<form asp-action="ChangePassword" asp-controller="AdminEmployee" class="position-relative mt-4 ms-3 w-50">
    <h5 class="mb-4 text-center">Смена пароля для пользователя: @Model.FullName</h5>

    <div class="input-group">
        <label class="input-group-text" asp-for="Password">Новый пароль</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div><br />
    <div class="input-group">
        <label class="input-group-text" asp-for="ConfirmPassword">Подтвердите новый пароль</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
    </div><br />

    <div class="form-group position-absolute end-0">
        <input type="submit" value="Сохранить" class="btn-dark" />
    </div>
</form>